# Getting a Model

Interesting Observations About Dataset
- May be imbalanced data - what percent of houses are sold within 60 days?
- Time series data - there are definitely times of the year where the market is hotter than other times

In [27]:
%run src/imports.py
from src.helpers import calculate_five_percent, calculate_ten_percent, calculate_twenty_percent

In [3]:
sns.set(rc={'figure.figsize':(16,4)})

In [10]:
neighborhoods_cleaned = pd.read_pickle('data/neighborhoods_cleaned.pkl')

In [11]:
neighborhoods_cleaned.reset_index(inplace=True)
neighborhoods_cleaned.drop('index',axis=1,inplace=True)

In [12]:
neighborhoods_cleaned.head()

,SOLD DATE,ZIP OR POSTAL CODE,PRICE,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,HOA/MONTH,LATITUDE,LONGITUDE,ROOMS
0,September-25-2020,78257,345000,The Dominion,1989.0,5662.0,2005.0,230.0,29.647801,-98.614186,4.0
1,June-11-2020,78256,337500,Stonewall Ranch,2166.0,9583.0,2004.0,54.0,29.650304,-98.629082,6.0
2,March-11-2021,78256,375500,Stonewall Ranch,2969.0,6605.0,2004.0,54.0,29.651842,-98.630650,6.5
3,October-31-2018,78255,462000,The Ridge @ Sonoma Verde,2716.0,9147.0,2014.0,95.0,29.617650,-98.643430,7.0
4,February-26-2021,78256,624000,Crownridge,3012.0,75794.0,2000.0,25.0,29.620646,-98.622295,5.5

In [13]:
neighborhoods_cleaned['SOLD DATE'] = pd.to_datetime(neighborhoods_cleaned['SOLD DATE'])
neighborhoods_cleaned['MONTH'] = pd.DatetimeIndex(neighborhoods_cleaned['SOLD DATE']).month
neighborhoods_cleaned['YEAR'] = pd.DatetimeIndex(neighborhoods_cleaned['SOLD DATE']).year
neighborhoods_cleaned.drop(['SOLD DATE'],axis=1,inplace=True)
neighborhoods_cleaned['HOA/MONTH'].fillna(value=0,inplace=True)
neighborhoods_cleaned.dropna(inplace=True)

In [14]:
neighborhoods_cleaned

,ZIP OR POSTAL CODE,PRICE,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,HOA/MONTH,LATITUDE,LONGITUDE,ROOMS,MONTH,YEAR
0,78257,345000,The Dominion,1989.0,5662.0,2005.0,230.0,29.647801,-98.614186,4.0,9,2020
1,78256,337500,Stonewall Ranch,2166.0,9583.0,2004.0,54.0,29.650304,-98.629082,6.0,6,2020
2,78256,375500,Stonewall Ranch,2969.0,6605.0,2004.0,54.0,29.651842,-98.630650,6.5,3,2021
3,78255,462000,The Ridge @ Sonoma Verde,2716.0,9147.0,2014.0,95.0,29.617650,-98.643430,7.0,10,2018
4,78256,624000,Crownridge,3012.0,75794.0,2000.0,25.0,29.620646,-98.622295,5.5,2,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
20007,78222,153000,Lakeside,1577.0,6969.0,1983.0,0.0,29.383410,-98.376520,5.0,9,2019
20008,78222,189900,Riposa Vita,1703.0,4791.0,2018.0,25.0,29.386700,-98.379900,6.0,7,2018
20009,78222,128000,Lakeside,1102.0,5662.0,1985.0,0.0,29.383092,-98.376562,5.0,3,2019
20010,78222,196499,Foster Meadows,2324.0,5662.0,2014.0,6.0,29.379346,-98.370269,7.0,3,2019
20011,78222,170000,Foster Meadows,3048.0,5227.0,2006.0,0.0,29.381472,-98.373694,6.5,10,2019

In [15]:
pd.get_dummies(neighborhoods_cleaned['LOCATION'],drop_first=True)

,Alamo Heights,Alamo Ranch,Alta Vista,Amhurst,Apple Creek,Arbor At Sonoma Ranch,Arcadia Ridge,Asher Place,Auburn Hills At Woodcrest,Autumn Run,...,Wildhorse,Wildhorse At Tausch Farms,Willow Grove Sub (sc),Wilshire Terrace,Wilshire Village,Windcrest,Wolf Creek,Woodcrest,Woodlake,Woods Of Shavano
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
neighborhoods_cleaned = neighborhoods_cleaned.merge(pd.get_dummies(neighborhoods_cleaned['LOCATION'],drop_first=True), how='outer',left_index=True,right_index=True)

In [22]:
neighborhoods_cleaned.drop('LOCATION',axis=1,inplace=True)

---

### Taking price outliers out of dataset

In [61]:
lowcost = neighborhoods_cleaned[neighborhoods_cleaned.PRICE < 500000]
lowercost = neighborhoods_cleaned[neighborhoods_cleaned.PRICE < 290000]

---

In [23]:
y = neighborhoods_cleaned.PRICE.values

In [24]:
X = neighborhoods_cleaned.drop('PRICE',axis=1).values

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [28]:
rfr = RandomForestRegressor(oob_score=True)
rfr.fit(X_train,y_train)
y_predict = rfr.predict(X_test)
print("score:", rfr.score(X_test, y_test))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

score: 0.8844309058031455
MSE: 3.713214e+09
49.485160508782556
72.17847769028872
89.27922471229557
0.8844309058031455

In [29]:
kf = KFold()
rfr_pipe = Pipeline([('scaler', StandardScaler()), ('regressor', RandomForestRegressor())])
rfr_grid_params = {'regressor__n_estimators': np.arange(50,250,50),
                  'regressor__max_depth': np.arange(1,15,5)}
rfr_grid = GridSearchCV(rfr_pipe, rfr_grid_params, cv=kf, scoring = 'neg_mean_squared_error')
rfr_grid.fit(X_train, y_train)
y_predict = rfr_grid.predict(X_test)
print("rfrAccuracy: {:.2e}".format(rfr_grid.score(X_test, y_test)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

rfrAccuracy: -4.04e+09
36.62426812033111
61.720169594185336
85.24126791843327
0.8743601675790253

In [34]:
rfr_grid.best_params_

{'regressor__max_depth': 11, 'regressor__n_estimators': 200}

-----

In [41]:
threefeatures = neighborhoods_cleaned.drop(['ZIP OR POSTAL CODE','LATITUDE','LONGITUDE','HOA/MONTH','ROOMS','LOT SIZE','MONTH','YEAR'],axis=1)

In [42]:
threefeatures

,PRICE,SQUARE FEET,YEAR BUILT,Alamo Heights,Alamo Ranch,Alta Vista,Amhurst,Apple Creek,Arbor At Sonoma Ranch,Arcadia Ridge,...,Wildhorse,Wildhorse At Tausch Farms,Willow Grove Sub (sc),Wilshire Terrace,Wilshire Village,Windcrest,Wolf Creek,Woodcrest,Woodlake,Woods Of Shavano
0,345000,1989.0,2005.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,337500,2166.0,2004.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,375500,2969.0,2004.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,462000,2716.0,2014.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,624000,3012.0,2000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20007,153000,1577.0,1983.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20008,189900,1703.0,2018.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20009,128000,1102.0,1985.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20010,196499,2324.0,2014.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20011,170000,3048.0,2006.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
X = threefeatures.drop('PRICE',axis=1).values
y = threefeatures.PRICE.values
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [44]:
rfr = RandomForestRegressor(oob_score=True)
rfr.fit(X_train,y_train)
y_predict = rfr.predict(X_test)
print("score:", rfr.score(X_test, y_test))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

score: 0.8511428892323666
MSE: 4.157487e+09
42.86291136684838
65.61679790026247
84.15101958409045
0.8511428892323666

In [48]:
kf = KFold()
rfr_pipe = Pipeline([('scaler', StandardScaler()), ('regressor', RandomForestRegressor(warm_start=True))])
rfr_grid_params = {'regressor__n_estimators': np.arange(50,250,10),
                  'regressor__max_depth': np.arange(1,15,3)}
rfr_grid = GridSearchCV(rfr_pipe, rfr_grid_params, cv=kf, scoring = 'neg_mean_squared_error')
rfr_grid.fit(X_train, y_train)
y_predict = rfr_grid.predict(X_test)
print("rfrAccuracy: {:.2e}".format(rfr_grid.score(X_test, y_test)))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

rfrAccuracy: -4.27e+09
MSE: 4.268909e+09
23.864324651726225
44.3165758126388
73.3898647284474
0.8099481008471533

----

In [45]:
fivefeatures = neighborhoods_cleaned.drop(['ZIP OR POSTAL CODE','LATITUDE','LONGITUDE','HOA/MONTH','ROOMS','LOT SIZE'],axis=1)
fivefeatures

,PRICE,SQUARE FEET,YEAR BUILT,MONTH,YEAR,Alamo Heights,Alamo Ranch,Alta Vista,Amhurst,Apple Creek,...,Wildhorse,Wildhorse At Tausch Farms,Willow Grove Sub (sc),Wilshire Terrace,Wilshire Village,Windcrest,Wolf Creek,Woodcrest,Woodlake,Woods Of Shavano
0,345000,1989.0,2005.0,9,2020,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,337500,2166.0,2004.0,6,2020,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,375500,2969.0,2004.0,3,2021,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,462000,2716.0,2014.0,10,2018,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,624000,3012.0,2000.0,2,2021,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20007,153000,1577.0,1983.0,9,2019,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20008,189900,1703.0,2018.0,7,2018,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20009,128000,1102.0,1985.0,3,2019,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20010,196499,2324.0,2014.0,3,2019,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20011,170000,3048.0,2006.0,10,2019,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
X = fivefeatures.drop('PRICE',axis=1).values
y = fivefeatures.PRICE.values
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [47]:
rfr = RandomForestRegressor(oob_score=True)
rfr.fit(X_train,y_train)
y_predict = rfr.predict(X_test)
print("score:", rfr.score(X_test, y_test))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

score: 0.8569788933330466
MSE: 3.212512e+09
44.33676559660812
66.48495861094287
85.1201292146174
0.8569788933330466

In [49]:
seven = neighborhoods_cleaned.drop(['ZIP OR POSTAL CODE','LATITUDE','LONGITUDE','HOA/MONTH'],axis=1)
seven

,PRICE,SQUARE FEET,LOT SIZE,YEAR BUILT,ROOMS,MONTH,YEAR,Alamo Heights,Alamo Ranch,Alta Vista,...,Wildhorse,Wildhorse At Tausch Farms,Willow Grove Sub (sc),Wilshire Terrace,Wilshire Village,Windcrest,Wolf Creek,Woodcrest,Woodlake,Woods Of Shavano
0,345000,1989.0,5662.0,2005.0,4.0,9,2020,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,337500,2166.0,9583.0,2004.0,6.0,6,2020,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,375500,2969.0,6605.0,2004.0,6.5,3,2021,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,462000,2716.0,9147.0,2014.0,7.0,10,2018,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,624000,3012.0,75794.0,2000.0,5.5,2,2021,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20007,153000,1577.0,6969.0,1983.0,5.0,9,2019,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20008,189900,1703.0,4791.0,2018.0,6.0,7,2018,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20009,128000,1102.0,5662.0,1985.0,5.0,3,2019,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20010,196499,2324.0,5662.0,2014.0,7.0,3,2019,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20011,170000,3048.0,5227.0,2006.0,6.5,10,2019,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
X = seven.drop('PRICE',axis=1).values
y = seven.PRICE.values
X_train, X_test, y_train, y_test = train_test_split(X,y)
rfr = RandomForestRegressor(oob_score=True)
rfr.fit(X_train,y_train)
y_predict = rfr.predict(X_test)
print("score:", rfr.score(X_test, y_test))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

score: 0.8724925813308787
MSE: 2.884614e+09
45.124167171411266
66.76761558651323
85.76620230163537
0.8724925813308787

___

## Lower Cost Modeling

In [59]:
X = lowcost.drop('PRICE',axis=1).values
y = lowcost.PRICE.values
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [60]:
rfr = RandomForestRegressor(oob_score=True)
rfr.fit(X_train,y_train)
y_predict = rfr.predict(X_test)
print("score:", rfr.score(X_test, y_test))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

score: 0.9040409455878817
MSE: 7.379141e+08
51.60331280526651
74.02845614780207
90.48630282437885
0.9040409455878817

In [62]:
X = lowercost.drop('PRICE',axis=1).values
y = lowercost.PRICE.values
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [63]:
rfr = RandomForestRegressor(oob_score=True)
rfr.fit(X_train,y_train)
y_predict = rfr.predict(X_test)
print("score:", rfr.score(X_test, y_test))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

score: 0.8279965794206802
MSE: 4.747814e+08
52.69720791542424
74.38330170777988
89.45513689346707
0.8279965794206802

In [64]:
kf = KFold()
gbr_pipe = Pipeline([('scaler', StandardScaler()), ('regressor', GradientBoostingRegressor(loss='huber'))])
gbr_grid_params = {'regressor__alpha': np.arange(0.1,0.9,0.2),
                  'regressor__max_depth': np.arange(1,9,2),
                  'regressor__learning_rate': np.arange(0.01,0.2,0.03)}
gbr_grid = GridSearchCV(gbr_pipe, gbr_grid_params, cv=kf, scoring = 'neg_mean_squared_error')
gbr_grid.fit(X_train, y_train)
y_predict = gbr_grid.predict(X_test)
print("gbr Accuracy: {:.2e}".format(gbr_grid.score(X_test, y_test)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))

gbr Accuracy: -5.26e+08
51.91108701545134
74.27487123881811
88.58769314177283
0.8095340902641923

---

## Treating Zip, Month, Year as categorical variables

In [66]:
categories = neighborhoods_cleaned.copy()

In [67]:
categories['ZIP OR POSTAL CODE'] = categories['ZIP OR POSTAL CODE'].astype('category')
categories['MONTH'] = categories['MONTH'].astype('category')
categories['YEAR'] = categories['YEAR'].astype('category')

In [70]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19812 entries, 0 to 20011
Columns: 186 entries, ZIP OR POSTAL CODE to Woods Of Shavano
dtypes: category(3), float64(7), int64(1), uint8(175)
memory usage: 5.4 MB

In [72]:
c_lowcost = categories[categories.PRICE < 500000]
c_lowercost = categories[categories.PRICE < 290000]

In [73]:
c_lowcost = c_lowcost.merge(pd.get_dummies(c_lowcost['ZIP OR POSTAL CODE'],drop_first=True), how='outer',left_index=True,right_index=True)
c_lowcost.drop('ZIP OR POSTAL CODE',axis=1,inplace=True)
c_lowcost = c_lowcost.merge(pd.get_dummies(c_lowcost['MONTH'],drop_first=True), how='outer',left_index=True,right_index=True)
c_lowcost.drop('MONTH',axis=1,inplace=True)
c_lowcost = c_lowcost.merge(pd.get_dummies(c_lowcost['YEAR'],drop_first=True), how='outer',left_index=True,right_index=True)
c_lowcost.drop('YEAR',axis=1,inplace=True)

In [74]:
X = c_lowcost.drop('PRICE',axis=1).values
y = c_lowcost.PRICE.values
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
rfr = RandomForestRegressor(oob_score=True)
rfr.fit(X_train,y_train)
y_predict = rfr.predict(X_test)
print("score:", rfr.score(X_test, y_test))
print('MSE: {:2e}'.format(mean_squared_error(y_test, y_predict)))
print(calculate_five_percent(y_predict,y_test))
print(calculate_ten_percent(y_predict,y_test))
print(calculate_twenty_percent(y_predict,y_test))
print(r2_score(y_test,y_predict))