In [1]:
%run src/flask_import.py

In [2]:
import pandas as pd
import random

In [3]:
flaskdf = pd.read_pickle('data/flaskdf.pkl')
locations_list = flaskdf.LOCATION.unique()
locations_list.sort()
locations_list

array(['Abrego Lake', 'Alamo Heights', 'Alamo Ranch', 'Alta Vista',
       'Amhurst', 'Apple Creek', 'Arbor At Sonoma Ranch', 'Arcadia Ridge',
       'Asher Place', 'Auburn Hills At Woodcrest', 'Autumn Run',
       'Beacon Hill', 'Bella Vista', 'Bellaire', 'Blue Rock Springs',
       'Braun Ridge', 'Bricewood', 'Bridgewood', 'Bulverde Village',
       'Camelot', 'Camelot Ii', 'Candlewood Park', 'Canyons At Amhurst',
       'Champion Springs', 'Champions Park', 'Cibolo Canyons', 'Cimarron',
       'Copper Canyon', 'Copperfield', 'Cross Creek', 'Crownridge',
       'Cupples/zarzamora', 'Deerfield', 'Dellcrest', 'Denver Heights',
       'Dignowity', 'Donaldson Terrace', 'Durango/roosevelt',
       'East Terrell Hills', 'East Village', 'Eastwood Village',
       'Elm Creek', 'Encino Park', 'Escondido North', 'Escondido/parc At',
       'Foster Meadows', 'Fox Grove', 'Fronterra At Westpointe',
       'Fronterra At Westpointe - Bexa', 'Government Hill', 'Grandview',
       'Hallies Ranch', 'Hanover Cove', 'Harlandale', 'Heather Place',
       'Heritage Park', 'Hidden Trails', 'Highland Farms',
       'Highland Hills', 'Highland Park', 'Hill Country Retreat',
       'Hillcrest', 'Hot Wells', 'Hunters Chase', 'Hunters Creek',
       'Huntington Place', 'I35 So. To E. Houston (sa)', 'Indian Springs',
       'Jefferson Terrace', 'Johnson Ranch - Comal', 'Kinder Ranch',
       'King William', 'Knox Ridge', 'Lackland Terrace', 'Ladera',
       'Lakeside', 'Las Lomas', 'Laura Heights', 'Laurel Canyon',
       'Laurel Mountain Ranch', 'Lavaca', 'Live Oak Village',
       'Longs Creek', 'Los Angeles Heights', 'Macarthur Park',
       'Mahncke Park', 'Meadow Oaks', 'Meadow Park',
       'Meadows At Bridgewood', 'Millers Point', 'Miramar Unit 1',
       'Mission Creek', 'Mission Del Lago', 'Monte Viejo', 'Monte Vista',
       'Monterrey Village', 'Monticello Heights', 'Mustang Valley', 'N/a',
       'Near Eastside', 'Northampton', 'Northcrest Hills',
       'Northeast Crossing', 'Northwood', 'Not In Defined Subdivision',
       'Oakland Heights', 'Oaks At Sonterra', 'Olmos Park', 'Olympia',
       'Palm Heights', 'Park Village', 'Parkwood', 'Pasadena Heights',
       'Pecan Valley', 'Potranco Ranch Medina County',
       'Preserve At Medina', 'Presidio', 'Redbird Ranch',
       'Republic Creek', 'Republic Meadows', 'Republic Oaks',
       'Rhine Valley', 'Ridgeview', 'Riposa Vita', 'River Bend',
       'Rogers Ranch', 'Rolling Creek', 'Rosillo Creek', 'Royal Ridge',
       'S Durango/probandt', 'Shaenfield Place', 'Shavano Park',
       'Shavano Ridge', 'Sierra Springs', 'Silver Canyon', 'Silver Creek',
       'Silver Oaks', 'Sonoma Ranch', 'Spring Vistas', 'Springwood',
       'Steubing Farm Ut-7 (enclave) B', 'Steubing Ranch',
       'Stillwater Ranch', 'Stonewall Ranch', 'Stoney Creek',
       'Summerhill', 'Sunrise', 'Tanglewood', 'Terrell Heights',
       'Terrell Hills', 'Texas Research Park', 'The Dominion', 'The Glen',
       'The Park At University Hills', 'The Preserve At Indian Springs',
       'The Ridge @ Sonoma Verde', 'The Ridge At Salado Creek',
       'The Villages At Stone Oak', 'The Vineyard', 'Tobin Hill',
       'Valley Forge', 'Valley Ranch - Bexar County', 'Ventura',
       'Westcreek', 'Westwinds-summit At Alamo Ranc', 'Wheatley Heights',
       'Wildhorse', 'Wildhorse At Tausch Farms', 'Willow Grove Sub (sc)',
       'Wilshire Terrace', 'Wilshire Village', 'Windcrest', 'Wolf Creek',
       'Woodcrest', 'Woodlake', 'Woods Of Shavano'], dtype=object)

In [4]:
    locations_df = pd.read_pickle('data/locations_df.pkl')
    oneline = locations_df.sample().drop('PRICE',axis=1)
    for col in oneline.columns:
        oneline[col].values[:] = 0
    oneline

,SQUARE FEET,LOT SIZE,YEAR BUILT,HOA/MONTH,LATITUDE,LONGITUDE,ROOMS,Alamo Heights,Alamo Ranch,Alta Vista,...,6,7,8,9,10,11,12,2019,2020,2021
8848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
locations_df = pd.read_pickle('data/locations_df.pkl')
oneline = locations_df.sample()
for col in oneline.columns:
    oneline[col].values[:] = 0
N = random.choice(locations_list)
oneline['{}'.format(N)]
oneline.index
oneline.at[oneline.index,N] = 1
onelinenumpy = oneline.to_numpy()
oneline

,PRICE,SQUARE FEET,LOT SIZE,YEAR BUILT,HOA/MONTH,LATITUDE,LONGITUDE,ROOMS,Alamo Heights,Alamo Ranch,...,6,7,8,9,10,11,12,2019,2020,2021
8108,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
N

'Hunters Chase'

In [7]:
#sns.set(rc={'figure.figsize':(16,4)})
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

In [8]:
flaskdf = pd.read_pickle('data/flaskdf.pkl')
zips_list = flaskdf['ZIP OR POSTAL CODE'].unique()
zips_list.sort()
zips_list

array([78002, 78009, 78023, 78026, 78052, 78059, 78064, 78065, 78069,
       78073, 78101, 78109, 78113, 78114, 78121, 78147, 78148, 78152,
       78154, 78161, 78163, 78199, 78201, 78202, 78203, 78204, 78207,
       78208, 78209, 78210, 78211, 78212, 78213, 78214, 78215, 78216,
       78217, 78218, 78219, 78220, 78221, 78222, 78223, 78224, 78225,
       78226, 78227, 78228, 78230, 78231, 78232, 78233, 78234, 78239,
       78240, 78242, 78244, 78245, 78247, 78248, 78249, 78250, 78251,
       78253, 78254, 78255, 78256, 78257, 78258, 78259, 78260, 78261,
       78263, 78264])

In [9]:
%%writefile flaskapp1.py

from flask import Flask, request, render_template, url_for, redirect
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from io import BytesIO
from datetime import date
import random

# Initialize app
app = Flask(__name__)

# load the pickled model
with open('data/model_rfr_locations.pkl', 'rb') as f:
    model = pickle.load(f)
    
flaskdf = pd.read_pickle('data/flaskdf.pkl')
locations_list = flaskdf.LOCATION.unique()
locations_list.sort()

zips_list = flaskdf['ZIP OR POSTAL CODE'].unique()
zips_list.sort()


#N = random.choice(locations_list)



# # load the pickled training data to display with prediction
# with open('data/trainXY.pkl', 'rb') as f:
#     trainXY = pickle.load(f)

# trainX = trainXY[:,:2]
# trainY = trainXY[:,2]

# Home page with form on it to submit new data
@app.route('/')
def get_new_data():
    

    flaskdf = pd.read_pickle('data/flaskdf.pkl')
    locations_list = flaskdf.LOCATION.unique()
    locations_list.sort()
    #     zips = zips_list
    return render_template('INPUTS.html', locations_list=locations_list)


@app.route('/predict', methods = ["GET", "POST"])
def predict():
    # request the text from the form 
    Address = str(request.form['Address'])
    Bedrooms = float(request.form['Bedrooms'])
    Bathrooms = float(request.form['Bathrooms'])
    Neighborhood = (request.form['locations_list'])
    Zip = float(request.form['Zip Code'])
    SqFt = float(request.form['Square Feet'])
    YearBuilt = float(request.form['YearBuilt'])
    Lot = float(request.form['Lot Size'])
    Month = date.today().month
    Yeartoday = date.today().year
    #Placeholders for latitude and longitude and HOA
    Lat = 29.483
    Long = -98.51
    HOA = 0 

    locations_df = pd.read_pickle('data/locations_df.pkl')
    oneline = locations_df.sample().drop('PRICE',axis=1)
    for col in oneline.columns:
        oneline[col].values[:] = 0
    oneline.at[oneline.index,Neighborhood] = 1
    oneline.at[oneline.index,'SQUARE FEET'] = SqFt
    oneline.at[oneline.index,'ROOMS'] = Bedrooms + Bathrooms
#    oneline.at[oneline.index,'ZIP OR POSTAL CODE'] = Zip
    oneline.at[oneline.index,2021] = 1
#    oneline.at[oneline.index,'MONTH'] = Month
    oneline.at[oneline.index,'LOT SIZE'] = Lot
    oneline.at[oneline.index,'HOA/MONTH'] = HOA
    oneline.at[oneline.index,'LATITUDE'] = Lat
    oneline.at[oneline.index,'LONGITUDE'] = Long
    oneline.at[oneline.index,'YEAR BUILT'] = YearBuilt
    oneline_array = oneline.to_numpy()
    
    #X_n = np.array([[Zip, SqFt, Lot, Year, HOA, Lat, Long, (Bedrooms+Bathrooms), Month,Yeartoday]])
    
    # predict on the new data
    Y_pred = model.predict(oneline_array)

    '''
    # for plotting 
    X_0 = trainX[trainY == 0] # class 0
    X_1 = trainX[trainY == 1] # class 1
    X_2 = trainX[trainY == 2] # class 2
    
    # color-coding prediction 
    if Y_pred[0] == 0:
        cp = 'b'
    elif Y_pred[0] == 1:
        cp = 'r'
    else:
        cp = 'g'

    if plt:
        plt.clf() # clears the figure when browser back arrow used to enter new data

    plt.scatter(X_0[:, 0], X_0[:, 1], c='b', edgecolors='k', label = 'class 0')
    plt.scatter(X_1[:, 0], X_1[:, 1], c='r', edgecolors='k', label = 'class 1')
    plt.scatter(X_2[:, 0], X_2[:, 1], c='g', edgecolors='k', label = 'class 2')
    plt.scatter(X_n[:, 0], X_n[:, 1], c=cp, edgecolors='k', marker = 'd', \
        s=100, label = 'prediction')
    plt.xlabel('Sepal length')
    plt.ylabel('Sepal width')
    plt.title('Prediction plotted with training data')
    plt.legend()
        
    image = BytesIO()
    plt.savefig(image)
    out = image.getvalue(), 200, {'Content-Type': 'image/png'}
    '''
    
    out = str(Y_pred)
    N = str(Neighborhood)
#    return oneline
    return '${}'.format(out, N)

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=8080, debug=True)

Overwriting flaskapp1.py